/*** BASE STYLES ***/
 body {
   font-family: 'Montserrat';
   font-size: 20px;
   color: #ffffff;
   background-color: #1f202b;
 }

 a {
   color: #ffffff;
   text-decoration: none;
 }

/*** GRID ***/

.full-width {
  width: 100%;
  margin: 0 auto;
}

.half-width {
  width: 100%;
}

.third-width {
  width: 100%;
}

/*** HEADER ***/

.header h3 {
  text-align: center;
}

#navigation {
  margin: 0 auto;
}

nav {
  text-align: center;
  display: block;
  margin-right: 30px;
}

nav ul li{
  list-style-type: none;
  font-size: 1.9em;
  font-weight: 300;
  width: 100%;
  padding: 10px 0;
}

.half-width h3 {
  font-size: 1.9em;
  font-family: 'Montserrat';
  color: #ffffff;
  font-weight: 300;
  margin: 30px 0;
}

.hero-section {
  background: url('../img/hero-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

h2 {
  padding: 50px 0 50px 0px;
  font-family: 'Source Code Pro', monospace;
  font-size: 3em;
  font-weight: 400;
  text-align: center;
}

h2 span {
  color: #fa0075;
}

/*** PORTFOLIO ***/

section {
  margin: 0 auto;
}

h3.heading {
  font-family: 'Source Code Pro', monospace;
  color: #fa0075;
  text-align: center;
  font-weight: 200;
  margin: 30px 0;
}

#portfolio .full-width {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

#heading {
  font-weight: 400;
  order: 1;
}

.half-width h4 {
  margin: 10px 20px;
}

.half-width p {
  margin: 10px 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

#rogue-pickings-img {
  order: 2;
}

#rogue-pickings-txt {
  order: 3;
}

#jubilee-img {
  order: 4;
}

#jubilee-txt {
  order: 5;
}

#holstee-img {
  order: 6;
}

#holstee-txt {
  order: 7;
  margin-bottom: 20px;
}

/*** ABOUT ***/

#about {
  background: url('../img/about-me.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#about h3 {
  margin: 0 auto;
  padding: 20px 10px;
}

#about h4 {
  color: #1f202b;
  padding: 10px;
}

#about p {
  color: #1f202b;
  padding: 10px;
}

#about .half-width {
  padding-bottom: 20px;
}

/*** CONTACT ***/

#contact {
  height: 450px;
  margin: 0 auto;
}

.third-width {
  text-align: center;
  margin-bottom: 35px;
}

.third-width ul {
  list-style: none;
  margin: 0;
}

.third-width ul li {
  display: inline-block;
  margin: 0 45px 0 0;
}

#footer {
  padding-top: 10px;
  clear: both;
  text-align: center;
}

#footer h5 {
  font-size: 0.75em;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  /*Desktop styles here*/

  /*** BASE STYLES ***/
   body {
     font-size: 24px;
   }

   h3 {
     font-size: 1.5em;
     font-weight: 200;
   }

  /*** GRID ***/

  #portfolio {
    height: 1545px;;
  }

  .project {
    height: 466px;
  }

  #about {
    height: 550px;
    clear: both;
  }

  #contact {
    height: 450px;;
  }

  .full-width {
    max-width: 1200px;
  }

  .half-width {
    width: 48%;
    float: left;
  }

  .third-width {
    width: 30%;
    float: left;
  }

  /*** HEADER ***/

  nav {
    float:right;
    margin: 24px 0 12px 0;
  }

  nav ul li{
    font-size: 1.25em;
    font-weight: 300;
    margin-right: 20px;
    display: inline;
  }

  .half-width h3 {
    font-size: 1.25em;
    font-weight: 300;
    margin-top: 50px;
  }

  .hero-section {
    clear: both;
  }

  h2 {
    padding: 300px 0 260px 100px;
    font-size: 3em;
    font-weight: 400;
    text-align: inherit;
  }


  /*** PORTFOLIO ***/

  #portfolio {
    display: block;
  }

  #portfolio .full-width {
    display: block;
  }

  #portfolio, #contact {
    margin: 0 50px;
  }

  #portfolio h3 {
    margin-top: 45px;
    margin-bottom: 90px;
  }

  #portfolio h4 {
    margin: 10px 0 -5px 0;
    padding: 10px 30px;
    text-align: left;
  }

  #portfolio p {
    padding: 10px 30px;
    text-align: left;
    margin: 0;
  }

  #portfolio .half-width {
    margin-left: 15px;
  }

  /*** ABOUT ***/

  #about h3 {
    margin: 0 auto;
    padding-top: 45px;
  }

  #about h4 {
    margin-left: 50px;
  }

  #about p {
    margin-left: 50px;
  }

  /*** CONTACT ***/

  #contact {
    margin: 45px 0 0 0;
  }

  #contact h3 {
    padding-bottom: 40px;
  }

  .third-width {
    margin: 0 20px;
  }

  .third-width ul {
    list-style: none;
    display: inline;
  }

  .third-width ul li {
    display: inline-block;
    margin-right: 45px;
  }

  #footer {
    clear: both;
  }

  #footer h5 {
    font-size: 0.75em;
    padding-top: 40px;
    padding-bottom: 15px;
  }

}
